<a href="<%= Docuseal::GITHUB_URL %>" target="_blank" class="inline">
  <div class="flex items-center border rounded-md px-2 py-1 text-xs">
    <%= svg_icon('brand_github', class: 'w-4 h-4 mr-1') %>
    <span>GitHub</span>
  </div>
</a>